<!DOCTYPE html>
<html>
    <head>
     <title>About</title>
     <link rel="stylesheet" href="/css/mystyle.css">
      <link rel="stylesheet" href="/css/bootstrap.min.css">
       <script src="/js/jquery.min.js" ></script>
    <script src="/js/bootstrap.bundle.min.js" ></script>
   
    </head>
    <body>   <div class='container'>
            <div class="row" style="min-height: 500px;">
                <div class="col-12">
       {{>header}}
      <p>{{errormessage}}</p> 
       
       </div>
       </div>
         <div class="row">
                <div class="col-12">
            {{>footer}}
            </div>
            </div>
       </div>
    </body>
</html>